<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:versionCode="4"
        android:versionName="1.3"
        package="com.boohee.food"
        platformBuildVersionCode="21"
        platformBuildVersionName="5.0.1-1624448"
        >
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"
            >
    </uses-sdk>
    <uses-permission
            android:name="android.permission.INTERNET"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.READ_PHONE_STATE"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.ACCESS_WIFI_STATE"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.GET_TASKS"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.VIBRATE"
            >
    </uses-permission>
    <permission
            android:name="com.boohee.food.permission.MIPUSH_RECEIVE"
            android:protectionLevel="0x00000003"
            >
    </permission>
    <uses-permission
            android:name="com.boohee.food.permission.MIPUSH_RECEIVE"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.CAMERA"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.FLASHLIGHT"
            >
    </uses-permission>
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"
            >
    </uses-feature>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"
            >
    </uses-feature>
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false"
            >
    </uses-feature>
    <uses-feature
            android:name="android.hardware.camera.flash"
            android:required="false"
            >
    </uses-feature>
    <uses-feature
            android:name="android.hardware.screen.landscape"
            android:required="false"
            >
    </uses-feature>
    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false"
            >
    </uses-feature>
    <supports-screens
            android:anyDensity="true"
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            >
    </supports-screens>
    <uses-permission
            android:name="android.permission.CHANGE_WIFI_STATE"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.MANAGE_ACCOUNTS"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.GET_ACCOUNTS"
            >
    </uses-permission>
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            >
    </uses-permission>
    <application
            android:theme="@7F0E0005"
            android:label="@7F0D001F"
            android:icon="@7F02007F"
            android:name="com.boohee.food.FoodApplication"
            android:allowBackup="true"
            >
        <activity
                android:theme="@android:010300F1"
                android:name="com.boohee.food.WelcomeActivity"
                android:screenOrientation="1"
                >
            <intent-filter
                    >
                <action
                        android:name="android.intent.action.MAIN"
                        >
                </action>
                <category
                        android:name="android.intent.category.LAUNCHER"
                        >
                </category>
            </intent-filter>
        </activity>
        <activity
                android:name="com.boohee.food.MainActivity"
                android:launchMode="1"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:theme="@android:0103012A"
                android:name="com.boohee.food.IntroductionActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00C0"
                android:name="com.boohee.food.SearchActivity"
                android:screenOrientation="1"
                android:windowSoftInputMode="0x00000010"
                >
        </activity>
        <activity
                android:label="@7F0D00B6"
                android:name="com.boohee.food.CategoryActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00BE"
                android:name="com.boohee.food.MoreActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00BF"
                android:name="com.boohee.food.MyActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00B4"
                android:name="com.boohee.food.AboutActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00B8"
                android:name="com.boohee.food.DetailInfoActivity"
                android:exported="true"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00BA"
                android:name="com.boohee.food.IngredientInfoActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:theme="@7F0E0003"
                android:label="@7F0D00C1"
                android:name="com.boohee.food.TopicActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:theme="@7F0E00AC"
                android:label="@7F0D00BB"
                android:name="com.boohee.food.LargeImageActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00B9"
                android:name="com.boohee.food.FoodListActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00B7"
                android:name="com.boohee.food.CollectionActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00BC"
                android:name="com.boohee.food.LightIntroduceActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00B5"
                android:name="com.boohee.food.AuthActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00C5"
                android:name="com.boohee.food.upload.UploadStateActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00C4"
                android:name="com.boohee.food.upload.ListDraftsActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00C3"
                android:name="com.boohee.food.upload.ListUploadActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00C2"
                android:name="com.boohee.food.upload.UploadEditActivity"
                android:screenOrientation="1"
                android:windowSoftInputMode="0x00000002"
                >
        </activity>
        <activity
                android:label="@7F0D00C6"
                android:name="com.boohee.food.upload.UploadStepOneActivity"
                android:screenOrientation="1"
                android:windowSoftInputMode="0x00000002"
                >
        </activity>
        <activity
                android:label="@7F0D00C6"
                android:name="com.boohee.food.upload.UploadStepTwoActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:label="@7F0D00BD"
                android:name="com.boohee.food.LoginActivity"
                android:screenOrientation="1"
                android:windowSoftInputMode="0x00000004"
                >
        </activity>
        <activity
                android:theme="@7F0E00AC"
                android:label="选择图片"
                android:name="com.boohee.food.SelectPictureActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:theme="@android:01030010"
                android:name="com.boohee.food.wxapi.WXEntryActivity"
                android:exported="true"
                android:screenOrientation="1"
                android:configChanges="0x000004A0"
                >
        </activity>
        <meta-data
                android:name="AA_DB_NAME"
                android:value="BooheeFood.db"
                >
        </meta-data>
        <meta-data
                android:name="AA_DB_VERSION"
                android:value="1"
                >
        </meta-data>
        <service
                android:name="com.xiaomi.push.service.XMPushService"
                android:enabled="true"
                android:process=":pushservice"
                >
        </service>
        <service
                android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
                android:enabled="true"
                android:exported="true"
                >
        </service>
        <service
                android:name="com.xiaomi.mipush.sdk.MessageHandleService"
                android:enabled="true"
                >
        </service>
        <receiver
                android:name="com.xiaomi.push.service.receivers.PingReceiver"
                android:exported="false"
                android:process=":pushservice"
                >
            <intent-filter
                    >
                <action
                        android:name="com.xiaomi.push.PING_TIMER"
                        >
                </action>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
                android:exported="true"
                >
            <intent-filter
                    >
                <action
                        android:name="android.net.conn.CONNECTIVITY_CHANGE"
                        >
                </action>
                <category
                        android:name="android.intent.category.DEFAULT"
                        >
                </category>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.boohee.food.push.XMPushReceiver"
                android:exported="true"
                >
            <intent-filter
                    >
                <action
                        android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"
                        >
                </action>
                <action
                        android:name="com.xiaomi.mipush.ERROR"
                        >
                </action>
            </intent-filter>
        </receiver>
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="54818087fd98c5468e001215"
                >
        </meta-data>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="other"
                >
        </meta-data>
        <service
                android:name="com.umeng.update.net.DownloadingService"
                android:process=":DownloadingService"
                >
        </service>
        <activity
                android:theme="@android:01030010"
                android:name="com.umeng.update.UpdateDialogActivity"
                >
        </activity>
        <activity
                android:theme="@7F0E00ED"
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:stateNotNeeded="true"
                android:screenOrientation="6"
                android:windowSoftInputMode="0x00000003"
                >
        </activity>
        <activity
                android:label="@7F0D0117"
                android:name="com.google.zxing.client.android.HelpActivity"
                android:stateNotNeeded="true"
                android:screenOrientation="2"
                >
        </activity>
        <activity
                android:name="com.google.zxing.client.android.encode.EncodeActivity"
                android:screenOrientation="2"
                >
        </activity>
        <activity
                android:theme="@android:01030007"
                android:name="com.google.zxing.client.androidlegacy.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:stateNotNeeded="true"
                android:screenOrientation="0"
                android:configChanges="0x000000A0"
                android:windowSoftInputMode="0x00000003"
                >
        </activity>
        <activity
                android:name="com.google.zxing.client.androidlegacy.HelpActivity"
                android:screenOrientation="2"
                >
        </activity>
        <activity
                android:name="com.google.zxing.client.androidlegacy.encode.EncodeActivity"
                android:screenOrientation="2"
                >
        </activity>
        <activity
                android:theme="@android:01030010"
                android:name="cn.sharesdk.framework.ShareSDKUIShell"
                android:screenOrientation="1"
                android:configChanges="0x000004A0"
                android:windowSoftInputMode="0x00000012"
                >
            <intent-filter
                    >
                <data
                        android:scheme="tencent1103837446"
                        >
                </data>
                <action
                        android:name="android.intent.action.VIEW"
                        >
                </action>
                <category
                        android:name="android.intent.category.BROWSABLE"
                        >
                </category>
                <category
                        android:name="android.intent.category.DEFAULT"
                        >
                </category>
            </intent-filter>
        </activity>
        <activity
                android:theme="@android:01030010"
                android:name="cn.sharesdk.wxapi.WXEntryActivity"
                android:exported="true"
                android:screenOrientation="1"
                android:configChanges="0x000004A0"
                >
        </activity>
        <activity
                android:name="com.boohee.pictures.ImageGridViewActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:name="com.boohee.pictures.PreviewImageActivity"
                android:screenOrientation="1"
                >
        </activity>
        <activity
                android:name="com.boohee.pictures.ImageTakePhotoActivity"
                android:screenOrientation="1"
                >
        </activity>
    </application>
</manifest>
